.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    a {
        text-decoration: none;
        padding: 0 5px;
    }

    .nav-left {
        display: flex;

        h1 {
            margin: 0;
        }
    }

    .nav-center {
        display: flex;
    }
}