.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    
    a {
        text-decoration: none;
        padding: 0 5px;
    }

    .nav-left {
        display: flex;

        h1 {
            margin: 0;
        }
    }

    .nav-center {
        display: flex;
    }

    .nav-right {
        .action-button {
            padding: 5px;
            background-color: #706aa4;
            border-radius: 10px;
        
            a {
                color: white;
            }
        }
    }
}